@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

.app-header {
  width: 100%;
}


.text-white {
  color: white;
}

.bg {
  background-image: url(./images/img1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
 margin-top: 0;
 padding-top: 0;

}

.logo {
  width: 150px;
  height: 70px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}
